@font-face {
  font-family: "<%= fontName %>";
  font-weight: normal;
  font-style: normal;
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}


/*<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>,
<% }); %>*/.<%= className %> {
  display: inline-block;
  font-family:"<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: 1;
  text-rendering: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  /*text-decoration: inherit;
  text-transform: none;
  speak: none;
  text-rendering: optimizeLegibility;*/

}


/* makes the font 33% larger relative to the icon container */
.<%= className %>--lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.<%= className %>--2x {
  font-size: 2em;
}
.<%= className %>--3x {
  font-size: 3em;
}
.<%= className %>--4x {
  font-size: 4em;
}
.<%= className %>--5x {
  font-size: 5em;
}
.<%= className %>--fw {
  width: 1.28571429em;
  text-align: center;
}


.<%= className %>-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.<%= className %>-ul > li {
  position: relative;
}
.<%= className %>-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.<%= className %>-li.<%= className %>-lg {
  left: -1.85714286em;
}


.<%= className %>--border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}


.<%= className %>.t-left {
  margin-right: .3em;
}
.<%= className %>.t-right {
  margin-left: .3em;
}


.<%= className %>--spin {
  -webkit-animation: <%= className %>-spin 2s infinite linear;
  animation: <%= className %>-spin 2s infinite linear;
}
.<%= className %>--pulse {
  -webkit-animation: <%= className %>-spin 1s infinite steps(8);
  animation: <%= className %>-spin 1s infinite steps(8);
}
@keyframes <%= className %>-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


.<%= className %>--rotate90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.<%= className %>--rotate180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.<%= className %>--rotate270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.<%= className %>--flipHorizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.<%= className %>--flipVertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .<%= className %>--rotate90,
:root .<%= className %>--rotate180,
:root .<%= className %>--rotate270,
:root .<%= className %>--flipHorizontal,
:root .<%= className %>--flipVertical {
  filter: none;
}


.<%= className %>-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.<%= className %>-stack--1x,
.<%= className %>-stack--2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.<%= className %>-stack--1x {
  line-height: inherit;
}
.<%= className %>-stack--2x {
  font-size: 2em;
}


.<%= className %>--inverse {
  color: #fff;
}


<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %>
