/*
# Title

Description

```
<button class="btn-primary">
  Button
</button>
<button class="btn-primary btn--lg">
  Button large
</button>
```
*/

.btn-primary {
  font-weight: bold;
  font-size: 1rem;
  padding: .4rem 1rem;
  background-color: #dc0000;
}
.btn--lg {
  font-size: 2rem;
  padding: .8rem 2rem;
}
